<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{yy.MM.dd-HH.mm} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!--<File name="File" fileName="logs/sbot_${date:yy.MM.dd-HH.mm}.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yy.MM.dd-HH:mm:ss} [%21.21thread] %-5level %-15logger{15} - %msg%n"/>
        </File>-->
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="File"/>-->
        </Root>
    </Loggers>
</Configuration>